// Full Story
- if Rails.env.production? && current_user
  :javascript
    window['_fs_debug'] = false;
    window['_fs_host'] = 'www.fullstory.com';
    window['_fs_org'] = '11763';
    (function(m,n,e,t,l,o,g,y){
      g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
      o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
      y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
      g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){FS(l,v)};
      g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;FS(o,v)};
      g.clearUserCookie=function(d,i){d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
      ';path=/;expires='+new Date(0);i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}
    })(window,document,'FS','script','user');

    FS.identify('#{ current_user.id }', {
      displayName: '#{ current_user.full_name }',
      email: '#{ current_user.full_name }'
    });

// Revealytics
- if Rails.env.production?
  :javascript
    window.revealytics=window.revealytics||[];
    window.revealytics.methods=["identify","update","track","page"];
    window.revealytics.factory=function(e){
      return function(){
        var t=Array.prototype.slice.call(arguments);
        t.unshift(e);
        window.revealytics.push(t);
        return window.revealytics;
      };
    };
    for(var i=0;i<window.revealytics.methods.length;i++){
      var key=window.revealytics.methods[i];
      window.revealytics[key]=window.revealytics.factory(key);
    };
    window.revealytics.load=function(){
      if(document.getElementById("revealytics-js")) {
        return;
      };
      var t=document.createElement("script");
      t.type="text/javascript";
      t.id="revealytics-js";
      t.async=!0;
      t.src="//tracking.revealytics.com/assets/revealytics.min.js";
      var n=document.getElementsByTagName("script")[0];
      n.parentNode.insertBefore(t,n);
    };
    window.revealytics.api_key = "59bf5ef662f3f98d6f0094eecb128d8ad299a310";
    window.revealytics.load();
