.top-note Click this link to reset your I Done This password

.content
  .header
    .main-wrap
      %h1 Password reset instructions

  .main
    .main-wrap
      .important-text
        %p We received a request to reset the password associated with this email address. Click the button below to set a new password and regain access to your <strong>I Done This</strong> account.

      .call-to-action
        =link_to 'Reset your password', reset_users_url(@user.reset_password_token), class: 'call-to-action_button'

  .footer
    %p.centered
      = link_to root_url do
        = image_tag "emails/we-love-progress.png", class: 'strapline', alt: 'We love progress'