.top-note Verify the alternate email address associated with your I Done This account

.content
  .header
    .main-wrap
      %h1 Verify your alternate email address

  .main
    .main-wrap
      .important-text
        %p To verify the alternate email associated with your <strong>I Done This</strong> account, we need you to click this button:

      .call-to-action
        =link_to 'Verify', verify_alternate_email_url(@alternate_email_address.verification_code), class: 'call-to-action_button'

  .footer
    %p.centered If you have no idea why you're receiving this email, you should reply to support@idonethis.com and let us know that somebody who isn't you is using your email address.

    %p.centered
      = link_to root_url do
        = image_tag "emails/we-love-progress.png", class: 'strapline', alt: 'We love progress'