- content_for :header do
  %nav.nav-exit
    = link_to [@organization, :organization_memberships], title: 'back' do
      %div.square.icon.light.close.small close

.modal-content
  %header.modal-header
    %h1 Invite to #{ @organization.name }

  %div.invitations-panel
    = form_for [@organization, @invitation] do |f|
      %input{type: 'hidden', name: 'invitations[email_addresses]', 'data-bind' => 'emailAddresses'}

      .invitations-panel_omnifield
        %input{type: 'email', placeholder: 'Enter email address', 'data-bind' => 'potentialInvitee'}

      .invitations-panel_potential-invitations
        %ul.invitations-panel_potential-invitations_list
        %div.empty
          :markdown
            Invite team-mates and collaborators by entering email addresses above (one at a time and then press `enter`).

      .invitations-panel_actions{style: 'display:none'}
        %input.button{type: 'submit', value: 'Invite', 'data-verb' => 'Invite'}