%h2 An error occurred
%p.subtitle You are logged in as #{current_user.email_address} but you are trying to access another organization
%p.action= link_to 'Take me home', root_path, class: 'button button-white button-small'
