%h2 An error occurred
%p.subtitle We're sorry. An error has taken place while trying to respond to your request.
%p.action= link_to 'Take me home', root_path, class: 'button button-white button-small'