%h2 That page could not be found
%p.subtitle We're sorry. It looks like the page you're looking for doesn't exist.
%p.action= link_to 'Take me home', root_path, class: 'button button-white button-small'