%h2 That feature is not ready yet
%p.subtitle We're sorry. It looks like that feature isn't quite ready for prime-time. Hold tight!
%p.action= link_to 'Take me back', :back, class: 'button button-white button-small'