%svg{:height => "25.7", :viewbox => "0 0 23.17 25.7", :width => "23.17", :xmlns => "http://www.w3.org/2000/svg"}
  %defs
    :css
      .cls-1{fill:none;stroke:#767771;stroke-linecap:round;stroke-linejoin:round;}
  %title Asset 1
  %g#Layer_2{"data-name" => "Layer 2"}
    %g#Layer_1-2{"data-name" => "Layer 1"}
      %path.cls-1{:d => "M11.58,22.31H22.67V20.17L20,17.55v-5.4A8.65,8.65,0,0,0,11.39,3.5h.39a8.65,8.65,0,0,0-8.65,8.65v5.4L.5,20.17v2.14Z"}
      %path.cls-1{:d => "M11.71,6.78a5.63,5.63,0,0,0-5.63,5.63"}
      %path.cls-1{:d => "M14.28,22.51a2.69,2.69,0,0,1-5.39,0"}
      %line.cls-1{:x1 => "20.04", :x2 => "12.24", :y1 => "17.55", :y2 => "17.55"}
      %polyline.cls-1{:points => "10.05 3.5 10.05 0.5 13.5 0.5 13.5 3.5"}