%svg{:height => "16", :viewbox => "0 0 16 16", :width => "16", :xmlns => "http://www.w3.org/2000/svg"}
  %g{:fill => "none"}
    %g.icon{'fill' => "#767771"}
      %path{:d => "M15.5 7.5L8.5 7.5 8.5 0.5C8.5 0.2 8.3 0 8 0 7.7 0 7.5 0.2 7.5 0.5L7.5 7.5 0.5 7.5C0.2 7.5 0 7.7 0 8 0 8.3 0.2 8.5 0.5 8.5L7.5 8.5 7.5 15.5C7.5 15.8 7.7 16 8 16 8.3 16 8.5 15.8 8.5 15.5L8.5 8.5 15.5 8.5C15.8 8.5 16 8.3 16 8 16 7.7 15.8 7.5 15.5 7.5L15.5 7.5Z"}