%svg{:viewbox => "0 0 22 24", :xmlns => "http://www.w3.org/2000/svg"}
  %g{:fill => "none"}
    %g.icon{'fill' => "#767771"}
      %path{:d => "M20.5 0h-19C0.7 0 0 0.7 0 1.5v21C0 23.3 0.7 24 1.5 24h19c0.8 0 1.5-0.7 1.5-1.5v-21C22 0.7 21.3 0 20.5 0zM1.5 1H3v1.5C3 2.8 3.2 3 3.5 3S4 2.8 4 2.5V1h2v1.5C6 2.8 6.2 3 6.5 3S7 2.8 7 2.5V1h2v1.5C9 2.8 9.2 3 9.5 3S10 2.8 10 2.5V1h2v1.5C12 2.8 12.2 3 12.5 3S13 2.8 13 2.5V1h2v1.5C15 2.8 15.2 3 15.5 3S16 2.8 16 2.5V1h2v1.5C18 2.8 18.2 3 18.5 3S19 2.8 19 2.5V1h1.5C20.8 1 21 1.2 21 1.5V4H1V1.5C1 1.2 1.2 1 1.5 1zM20.5 23h-19C1.2 23 1 22.8 1 22.5V5h20v17.5C21 22.8 20.8 23 20.5 23z"}
      %rect{:height => "1", :width => "12", :x => "3", :y => "9"}
      %rect{:height => "1", :width => "15", :x => "3", :y => "18"}
      %rect{:height => "1", :width => "5", :x => "3", :y => "12"}
      %rect{:height => "1", :width => "7", :x => "11", :y => "12"}
      %rect{:height => "1", :width => "10", :x => "3", :y => "15"}