.wrapper-small{role: 'layout'}
  .onboard-content
    %header.onboard-header
      %h1 Upgrade your <strong>I Done This</strong> account

    .onboard-panel.illustrated-logo
      %main
        :markdown
          We've heard your feedback, and have a new version of **I Done This** built from the ground-up for effective team and organization-wide collaboration.

          Keep your team on-task and in-sync with simple asynchronous status updates.

      %aside

      %nav
        %a.button{href: "/auth/idonethis"} Upgrade legacy account