.wrapper-small{role: 'layout'}
  .onboard-content
    %header.onboard-header
      %h1 Upgrade error

    .onboard-panel.illustrated-logo
      %main
        :markdown
          Unfortunately an error occurred during the upgrade.

          Please contact support at [support@idonethis.com](mailto:support@idonethis.com) or [1·800·508·9177](tel:+18005089177) and to continue the upgrade.

      %aside

      %nav