.wrapper-small{role: 'layout'}
  .onboard-content
    %header.onboard-header
      %h1 Upgrade started&hellip;

    .onboard-panel.illustrated-logo
      %main
        :markdown
          The upgrade has begun, but due to the size of your account it may take a little while. You'll receive an email when the upgrade is complete.

          If you have any questions, please contact support at [support@idonethis.com](mailto:support@idonethis.com) or [1·800·508·9177](tel:+18005089177).

      %aside

      %nav