!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "width=device-width", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag 'transactional_email.css', media: 'all'
  %body{:itemscope => "", :itemtype => "http://schema.org/EmailMessage"}= yield